#bg {
  	background: -webkit-linear-gradient(bottom,rgba(175,238,238,0),rgba(175,238,238,1)); /*Safari 5.1-6*/
  	background: -o-linear-gradient(top,rgba(175,238,238,0),rgba(175,238,238,1)); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(top,rgba(175,238,238,0),rgba(175,238,238,1)); /*Fx 3.6-15*/
 	background: linear-gradient(to top, rgba(175,238,238,0), rgba(175,238,238,1)); /*Standard*/
}

#top{
	position: relative;
}

#search{
	position: relative;
	padding: 5px;
}

#log_in{
	float: right;
	padding: 5px;
}

#nav{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
}

li {
    	float: left;
}

a {
    	display: block;
    	padding: 5px;
	margin: 5px;
	background: #00ced1;
	width: 125px;
	text-align: center;
	color: white;
}

a:hover {
	display: block;
    	padding: 5px;
	margin: 5px;
	background-color: #00ffff;
	width: 125px;
	text-align: center;
	color: black;
}


